[flake8]
ignore = W292, W293, E302
doctests = True
max-line-length = 100
max-complexity = 18
select = E,W,F,C
exclude = .git, .vscode
per-file-ignores = docs/conf.py:F401,
                   trashnet/train.py:E501
                   trashnet/test.py:E501
                   data/augmentation/test.py:F401